body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comp-spacing{margin-bottom: 10px;}

/* Navigation */
.nav-buttons {
    text-align: center;
}

.nav-buttons .nav-button {
    width: 150px;
    height: 150px;
    background-color: white;
    border-color: black;
    color: black;
    margin: 0.2px;
}

.nav-buttons .nav-button:hover {
    width: 200px;
    height: 200px;
    background-color: white;
    border-color: black;
    color: black;
    margin: 0.2px;
}